# Node dependencies & builds
node_modules/
dist/
dist-ssr/
*.log

# Python & Backend
.env
*.env
*.db
*.sqlite
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
